:root {
    --or: orange;
    --blk:black;
}

.batman-container {
    height: 300px;
    width: 500px;
    background-color: var(--or);
    margin: 100px auto 0;
}

.border {
    background: black;
    height: 200px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
}

.start-1 {
    margin-left: -120px;
}

.start-2 {
    margin-top: 110px;
    margin-left: 50px;
    transform: rotate(30deg);
}

.end-1 {
    margin-left: 370px;
}

.end-2 {
    margin-top: 110px;
    margin-left: 200px;
    transform: rotate(-30deg);
}

.head-cap {
    background-color: var(--blk);
    width: 150px;
    height: 65px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.head {
    height: 45px;
    width: 35px;
    background-color: var(--or);
    margin: -40px auto;
    border-radius: 5px;
}

.head-top-1 {
    height: 15px;
    width: 15px;
    background-color: var(--or);
    border-radius: 50%;
    margin: -52px 220px;
}

.head-top-2 {
    height: 15px;
    width: 15px;
    background-color: var(--or);
    border-radius: 50%;
    margin: 37px 265px;
}

.shape-1 {
    background-color: var(--blk);
    height: 200px;
    margin: 150px 0;
}

.batman {
    background-color: var(--blk);
}